.carValueWrapper {
  display: flex;
  align-items: stretch;
  .leftColumn {
    flex: 1;
    background-color: var(--gray-100);

    .header {
      display: flex;
      align-items: center;
      width: 100%;
      .menuDropdownWrapper {
        margin-left: auto;
      }
    }

    .carValueFormWrapper {
      height: calc(100% - 100px);
      background-color: var(--gray-200);
    }
  }
  .rightColumn {
    width: 300px;
    min-width: 300px;
  }
}
.formStepMenu {
  li {
    opacity: 0.5;
    cursor: default;
    &.active {
      font-weight: 600;
      opacity: 1;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
}

.carValueFormWrapper {
  display: flex;
  align-items: flex-start;
  .formStepMenu {
    display: flex;
    flex-direction: column;
  }
  .carValueForm {
    .resultCarValue {
    }
    .formStepWrapper {
      .formStep {
        .stepSummary {
          display: none;
        }
        .formContent {
          display: none;
        }
        &.active {
          .formContent {
            display: block;
          }
        }
        &.completed {
          .formContent {
            display: none;
          }
        }
        &.completed {
          .stepSummary {
            display: block;
          }
        }
      }
    }
  }
}

.summaryExpertizTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.summaryExpertizTable th,
.summaryExpertizTable td {
  border: 1px solid #ccc;
  padding: 6px 8px;
  text-align: left;
}

.stepSummary {
  background: #f9f9f9;
  border-left: 3px solid #007bff;
  padding: 12px;
  margin-top: 10px;
  display: none;
}
.summaryItem {
  margin-bottom: 10px;
}
.summaryItem button.editBtn {
  margin-top: 5px;
}
