/* The switch - the box around the slider */
.custom-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      z-index: 2;
    }
    &:after {
      content: "Yok";
      position: absolute;
      right: 12px;
      color: var(--gray-300);
      font-weight: 500;
      font-size: 14px;
      top: 7px;
      transition: all 0.3s linear;
    }
  }

  input:checked + .slider {
    background-color: var(--secondary);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(44px);
    -ms-transform: translateX(44px);
    transform: translateX(44px);
  }
  input:checked + .slider:after {
    content: "Var";
    right: 100%;
    left: 14px;
    color: var(--white);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
